body, html, div, p, span, a, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
}
body {
    background: url('../images/bgnoise_lg.png') repeat top left;
    color: white;
    font-family: tahoma;
    font-weight: lighter;
    padding-top: 40px;
}
body p {
    font-size: 14px;
}
body p a {
    font-size: 16px;
}
h1 {
    color: #E05E00;
    font-style: italic;
}
a {
    color: #E05E00;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* general */

.clear {
    clear: both;
}
/* Header */

.brand {
    color: #ffffff !important;
    font-family: georgia;
    font-style: italic;
}
/* list stuff */

#org {
    background-color: #000000;
    margin: 10px;
    padding: 10px;
}
#show-list {
    cursor: pointer;
}
/* bootstrap overrides */

.alert-message {
    margin: 2px 0;
}
.topbar {
    position: absolute;
}
/* Custom chart styling */

.jOrgChart {
    margin: 10px;
    padding: 20px;
}
/* Custom node styling */

.jOrgChart .node {
    position: relative;
    background-image: url('../images/bgnoise_lg.png');
    font-size: 12px;
    background-color: #c6deff;
    border-radius: 8px;
    border: 5px solid black;
    color: #000000;
    -moz-border-radius: 8px;
    /*overflow: hidden;*/
}

.jOrgChart .node .node-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-size: cover;
}

.jOrgChart .node .label_node{
    background: rgba(255, 255, 255, 0.55);
}

.node p {
    font-family: tahoma;
    font-size: 10px;
    line-height: 11px;
    padding: 2px;
}
.jOrgChart .node.unit {
    position: relative;
    font-size: 12px;
    background-color: #C7D9FF;
    border-radius: 8px;
    border: 5px solid rgb(116, 172, 255);
    color: #000000;
    -moz-border-radius: 8px;
    background-blend-mode: darken;
}
.jOrgChart .node.position {
    position: relative;
    font-size: 12px;
    background-color: #FFD3C7;
    border-radius: 8px;
    border: 5px double rgb(255, 95, 86);
    color: #000000;
    -moz-border-radius: 8px;
    background-blend-mode: darken;
}
.node .node-image-icon {
    position: absolute;
    top: -8px;
    left: -8px;
    color: #FF0000;
    background-color: #FFF9F2;
}

.hidden {
    display: none;
}
.temp {
    border: dotted 2px #869baf !important;
}
.add {
    background: url(../images/plus_circle.png) no-repeat 50% 50%;
}
.del {
    background: url(../images/del_circle.png) no-repeat 50% 50%;
}
.edit {
    background: url(../images/edit_squere.png) no-repeat 50% 50%;
}
.view {
    background: url(../images/magnify.png) no-repeat 50% 50%;
}
.emp {
    background: url(../images/employee_info.png) no-repeat 50% 50%;
    ;
}
.edit, .del, .add, .view {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 0;
}
.emp {
    display: inline-block;
    width: 16px;
    height: 20px;
    margin-right: 10px;
    /*     margin-left: 0; */
}
.del, .delete {
    margin-right: 0;
    margin-left: 0;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 74px;
    height: 15px;
    z-index: 30;
}

/* Keep option text in form in one line*/
.cform label {
    white-space: nowrap;
}

.cform .emp-image-box{
    box-shadow: 0px 0px 10px 4px rgba(194, 218, 252, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(194, 218, 252, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(194, 218, 252, 0.75);
    width: 200px;
    height: auto;
    display: inline-block;
    padding: 0;
    margin-bottom: 25px;
    margin-left: 130px;
}

.emp-image-box .emp-image{
    position: relative; /* This protects the inner element from being blurred */
    padding: 0;
    width: 100%;
}
