@CHARSET "ISO-8859-1";
.cform {
    width: 470px;
    margin: 0 auto;
    padding-left: 10px;
    padding-top: 20px;
}
.cform h1 {
    position: relative;
    color: #498ea5;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    padding: 0px 0px 20px 0px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    text-align: center;
}
.cform fieldset {
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.cform p.contact {
    font-size: 12px;
    margin: 0px 0px 10px 0px;
    line-height: 14px;
    font-family: Arial, Helvetica;
}
.cform input[type="text"] {
    width: 300px;
}
.cform input[type="file"] {
    width: 300px;
}
.cform input[type="email"] {
    width: 400px;
}
.cform input[type="password"] {
    width: 400px;
}
.cform input.birthday {
    width: 60px;
}
.cform input.birthyear {
    width: 120px;
}
.cform label {
    margin: 0px 20px 0px 0px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica;
}
.cform label.month {
    width: 135px;
}
.cform input, textarea {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(122, 192, 0, 0.15);
    padding: 7px;
    font-family: Keffeesatz, Arial;
    color: #4b4b4b;
    font-size: 14px;
    -webkit-border-radius: 5px;
    margin-bottom: 15px;
    margin-top: -10px;
}
.cform input:focus, textarea:focus {
    border: 1px solid #ff5400;
    background-color: rgba(255, 255, 255, 1);
}
.cform .select-style {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 0px solid #FFF;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cform .gender {
    width: 410px;
}
.cform input.buttom {
    margin: 10px 0px 0px 150px;
    background: #4b8df9;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fbf7f7;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border: none;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
}
.cform input.buttom:hover {
    background-color: #2a78ff;
}
