
@managePageTemplate{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Chart Management</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <button id="btn_new_chart" href="#popup_form" class="btn btn-default">New Chart</button>
                    <button id="btn_edit_chart" href="#popup_form" class="btn btn-default" style="display: none;">Edit Chart</button>
                </p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Chart query result:
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-chart">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Chart Name</th>
                                        <th>Owner ID</th>
                                        <th>Owner Name</th>
                                        <th>Version</th>
                                        <th>Last Modified</th>
                                        <th>Edit User ID</th>
                                        <th>Edit User</th>
                                        <th>Permitted Access</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <div id="popup_form" class="popupContainer" style="display:none;">
        <header class="popupHeader">
            <span class="header_title">Chart</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </header>

        <section class="popupBody SectionNewChart">
            <!-- Here Goes all alternative Forms -->
            <div class="pop_form">
                <div class="">
                    <form id="form_new_chart" method="POST">
                        <label>Chart Name<span style="color:red;">*</span>
                        </label>
                        <input type="text" name="new_chart_name" required>
                        <br>
                        <!-- <label>Owner ID</label>
                        <input type="text" name="new_chart_owner_id">
                        <br> -->
                        <label>Permission Type</label>
                        <select class="select-permission" name="new_chart_permission">
                            <option>public</option>
                            <option>specified</option>
                            <option>private</option>
                        </select>
                        <br>
                        <div class="area-specified_user">
                            <label>Permitted User(shortnames seperate by ;)</label>
                            <textarea type="text" name="new_chart_permitted_user" rows="3"></textarea>
                            <br>
                        </div>

                        <div class="action_btns centered">
                            <div class="">
                                <input type=submit id="submit_new_chart" class="btn btn-success" value="Create Chart">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.pop_form -->
        </section>
        <!-- /.SectionNewChart -->

        <section class="popupBody SectionEditChart">
            <!-- Here Goes all alternative Forms -->
            <div class="pop_form">
                <div class="">
                    <form id="form_edit_chart" method="POST">
                        <label>Chart ID<span style="color:red;">*</span>
                        </label>
                        <input type="text" id="chartid" name="chartid" readonly="readonly" required>
                        <br>
                        <label>Chart Name<span style="color:red;">*</span>
                        </label>
                        <input type="text" name="edit_chart_name" required>
                        <br>
                        <label>Owner ID</label>
                        <input type="text" name="edit_chart_owner_id">
                        <br>
                        <label>Permission Type</label>
                        <select class="select-permission" name="edit_chart_permission">
                            <option>public</option>
                            <option>specified</option>
                            <option>private</option>
                        </select>
                        <br>
                        <div class="area-specified_user">
                            <label>Permitted User(shortnames seperate by ;)</label>
                            <textarea type="text" name="edit_chart_permitted_user" rows="3"></textarea>
                            <br>
                        </div>

                        <div class="action_btns centered">
                            <div class="">
                                <input type=button id="submit_delete_chart" name="submit_delete_chart" class="btn btn-danger" value="Delete Chart">
                                <input type=submit id="submit_edit_chart" name="submit_edit_chart" class="btn btn-warning" value="Modifiy Chart">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.pop_form -->
        </section>
        <!-- /.SectionEditChart -->
    </div>
    <!-- /#popup_form -->

    <div id="lean_overlay" style="display: none; opacity: 0.6;"></div>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-2.1.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="@routes.Assets.at("js/plugins/metisMenu/metisMenu.min.js")"></script>
    <script src="@routes.Assets.at("js/plugins/dataTables/dataTables.bootstrap.js")"></script>

    <!-- jquery.leanmodal -->
    <script type="text/javascript" src="@routes.Assets.at("js/jquery.leanModal.min.js")"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@routes.Assets.at("js/sb-admin-2.js")"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    var editor; // use a global for the submit and return data rendering
    $(document).ready(function() {

        var cTableSel = $('#dataTables-chart');
        var cTable = $('#dataTables-chart').DataTable({
            "ajax": '../chart/all/',
            "columns": [{
                "data": "uuid"
            }, {
                "data": "chartName"
            }, {
                "data": "ownerID"
            }, {
                "data": "OwnerName"
            }, {
                "data": "version"
            }, {
                "data": "timeLastModified"
            }, {
                "data": "editUser"
            }, {
                "data": "CUName"
            }, {
                "data": "permissionDisplay"
            }],
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            },{
                "targets": [3],
                "visible": false,
                "searchable": false
            },{
                "targets": [7],
                "visible": false,
                "searchable": false
            }],
            "rowCallback": function(row, data) {
                    // generate hyperlink for chart name column
                    if (data["uuid"] != "") {
                        $('td:eq(0)', row).html('<a href="@routes.ChartCtrl.showChart()?chartid=' + data["uuid"] + '">' + data["chartName"] + '</a>');
                    }
                    if (data["timeLastModified"] != "") {
                        $('td:eq(3)', row).html(data["timeLastModified"].substring(0, data["timeLastModified"].length - 4));
                    }
                }
                // ,
                // tableTools: {
                //     sRowSelect: "os",
                //     sRowSelector: 'td:first-child',
                //     aButtons: [
                //         { sExtends: "editor_create", editor: editor },
                //         { sExtends: "editor_edit",   editor: editor },
                //         { sExtends: "editor_remove", editor: editor }
                //     ]
                // }
        });
        // Activate the edit chart form on click of a table row
        // cTable.on( 'click', 'tbody tr', function (e) {
        //     alert(this);
        // } );
        /* Apply the tooltips */
        $('#dataTables-chart tbody tr[title]').tooltip({
            "delay": 0,
            "track": true,
            "fade": 250
        });
        // $( "#dataTables-chart tbody" ).dblclick(function() {
        //     $( "#btn_edit_chart" ).trigger( "click" );
        // });
        var editRow;
        $('#dataTables-chart tbody').on('dblclick', 'tr', function() {
            editRow = this;
            // console.log( cTable.row( this ).data() );
            $("input[name='chartid']").val(this.id);
            $("input[name='edit_chart_name']").val(cTable.row(this).data()['chartName']);
            $("input[name='edit_chart_owner_id']").val(cTable.row(this).data()['ownerID']);
            $("#form_edit_chart .select-permission option").filter(function() {
                return $(this).text() == cTable.row(editRow).data()['permission'];
            }).first().prop("selected", true);
            presetSelectFunc( $("#form_edit_chart") );
            $("textarea[name='edit_chart_permitted_user']").val(cTable.row(this).data()['permittedUser']);
            $("#btn_edit_chart").trigger("click");
        });

        $('.select-permission').change(function() {
            presetSelectFunc( $(this).parent() );
        });

        presetSelectFunc = function(targetForm){
            if ("specified" === targetForm.find('.select-permission').find(':selected').val()) {
                targetForm.find('.area-specified_user').show();
            } else {
                targetForm.find('.area-specified_user').hide();
            }
        }
        

        // $('button.editor_create').on('click', function (e) {
        //     e.preventDefault();
        //     editor.create(
        //         'Create new record',
        //         {
        //             "label": "Add",
        //             "fn": function () {
        //                 editor.submit();
        //             }
        //         }
        //     );
        // });

        // Edit record
        // cTable.on('click', 'a.editor_edit', function (e) {
        //     e.preventDefault();

        //     editor.edit(
        //         $(this).parents('tr')[0],
        //         'Edit record',
        //         { "label": "Update", "fn": function () { editor.submit(); } }
        //     );
        // } );


        // For new chart form
        $('#btn_new_chart').click(function() {
            $("#popup_form .SectionNewChart").show();
            $("#popup_form .SectionEditChart").hide();
            return false;
        });
        $('#btn_edit_chart').click(function() {
            $("#popup_form .SectionNewChart").hide();
            $("#popup_form .SectionEditChart").show();
            return false;
        });

        $("#btn_new_chart").leanModal({
            top: 200,
            overlay: 0.6,
            closeButton: ".modal_close"
        });
        $("#btn_edit_chart").leanModal({
            top: 200,
            overlay: 0.6,
            closeButton: ".modal_close"
        });

        $('form#form_new_chart').submit(function(e) {
            var formData = new FormData(this);
            var submitSuccessCallbackFn = function(i) {
                cTableSel.dataTable().fnAddData(i);
            }
            submitFunc(e, "../chart/", formData, "POST", submitSuccessCallbackFn);
            $(this)[0].reset();
        });
        $('form#form_edit_chart').submit(function(e) {
            var formData = new FormData(this);
            var submitSuccessCallbackFn = function(i) {
                // console.log( cTableSel.dataTable().fnSettings().aoData );
                // console.log( editRow );
                // console.log( cTable );
                // console.log( cTableSel.dataTable() );
                var pos = cTableSel.dataTable().fnGetPosition(editRow);
                cTableSel.dataTable().fnUpdate(i, pos);
            }
            submitFunc(e, "../chart/", formData, "PUT", submitSuccessCallbackFn);
            $(this)[0].reset();
        });

        $('#submit_delete_chart').click(function() {
            var chartid = $('form#form_edit_chart #chartid').val()
            var formData = new FormData($('form#form_edit_chart'));
            var submitSuccessCallbackFn = function(i) {
                var pos = cTableSel.dataTable().fnGetPosition(editRow);
                cTableSel.dataTable().fnDeleteRow(pos);
            }
            submitFunc(null, "../chart/" + chartid, formData, "DELETE", submitSuccessCallbackFn);
            $('form#form_edit_chart')[0].reset();
        });

        var submitFunc = function(e, url, formData, submitMethod, successCallback) {
            if (e != null) {
                e.preventDefault();
            }
            $.ajax({
                type: submitMethod,
                url: url,
                cache: false,
                data: formData,
                processData: false, // Don't process the files
                contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                success: function(respose, text, xhr) {
                    console.log("submitFunc:" + text + ", " + respose + ", url=" + url);
                    $("#popup_form").hide();
                    $("#lean_overlay").hide();
                    successCallback(respose);
                    // var j = respose;
                    // cTableSel.dataTable().fnAddData(j);
                },
                error: function(xhr, textstatus, ethrown) {
                    alert(textstatus + ", " + ethrown + xhr.status);
                }
            })
        }

    });
    // END $(document).ready
    </script>

}
