@(wrapperContent: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Organization Chart System</title>

    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="@routes.Assets.at("css/plugins/metisMenu/metisMenu.min.css")" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="@routes.Assets.at("css/plugins/dataTables.bootstrap.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@routes.Assets.at("css/sb-admin-2.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@routes.Assets.at("font/font-awesome-4.1.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

    <!-- Custom: popup form -->
    <link href="@routes.Assets.at("css/manage-page.css")" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0" id="nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.Application.index()">Organization Chart System beta v1.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-sitemap fa-fw"></i> Chart Updated
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Received
                                    <span class="pull-right text-muted small">5 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">8 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    //.dropdown-alerts
                </li> -->
                <!-- /.dropdown -->
                <li class="dropdown">
                    @defining(Application.getLoginUser(session())) { user =>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            @user.getUserInfo().getFullname() (@user.getIdentifier())
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li> -->
                            @for(role <- user.getRoles()) {
                                <li><a><i class="fa fa-lock fa-fw"></i> @role.getName()</a>
                                </li>
                            }
                            
                            <li class="divider"></li>
                            <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    }
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search" style="display: none;">
                            <input type="text" class="form-control" placeholder="Search...">
                            <div class="input-group custom-search-form" style="display: none;">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a href="@routes.Application.ocsDashboard()"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="@routes.Application.ocsCharts()"><i class="fa fa-sitemap fa-fw"></i> Charts</a>
                        </li>
                        <li>
                            <a href="@routes.Application.ocsEmployees()"><i class="fa fa-group fa-fw"></i> Employees</a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> Data</a>
                        </li> -->
                        <!-- <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> System Administration</a>
                        </li> -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            @wrapperContent
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <script>
        $(function(){
            $('.sidebar-search input.form-control').keyup(function(){
                var searchText = $(this).val();
                $('ul#side-menu > li').not(".sidebar-search").each(function(){
                    var currentLiText = $(this).text(),
                        showCurrentLi = currentLiText.indexOf(searchText) !== -1;
                    $(this).toggle(showCurrentLi);
                });
            });
        });
    </script>
</body>

</html>
