<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>OrgCharts</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>EmpChart</servlet-name>
    <servlet-class>servlets.EmpChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpChart</servlet-name>
    <url-pattern>/EmpChart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateChart</servlet-name>
    <servlet-class>servlets.UpdateChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateChart</servlet-name>
    <url-pattern>/UpdateChart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddChart</servlet-name>
    <servlet-class>servlets.AddChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddChart</servlet-name>
    <url-pattern>/AddChart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNode</servlet-name>
    <servlet-class>servlets.DeleteNode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNode</servlet-name>
    <url-pattern>/DeleteNode.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Root</servlet-name>
    <servlet-class>servlets.Root</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Root</servlet-name>
    <url-pattern>/Root.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNode</servlet-name>
    <servlet-class>servlets.AddNode</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNode</servlet-name>
    <url-pattern>/AddNode.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNode</servlet-name>
    <servlet-class>servlets.EditNode</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNode</servlet-name>
    <url-pattern>/EditNode.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getEditedData</servlet-name>
    <servlet-class>servlets.getEditedData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getEditedData</servlet-name>
    <url-pattern>/getEditedData.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadChart</servlet-name>
    <servlet-class>servlets.LoadChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadChart</servlet-name>
    <url-pattern>/LoadChart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveEmpData</servlet-name>
    <servlet-class>servlets.RetrieveEmpData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveEmpData</servlet-name>
    <url-pattern>/RetrieveEmpData.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpImage</display-name>
    <servlet-name>EmpImage</servlet-name>
    <servlet-class>servlets.EmpImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpImage</servlet-name>
    <url-pattern>/EmpImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChartsJson</display-name>
    <servlet-name>GetChartsJson</servlet-name>
    <servlet-class>servlets.GetChartsJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChartsJson</servlet-name>
    <url-pattern>/GetChartsJson.do</url-pattern>
  </servlet-mapping>
</web-app>